label{
    width:120px;
    float:left;
}
.star{
    color:red;
    
}
label.error{
    float:none;
    color:red;
    padding-left: 20px;
}

input.inpreg{
    width: 300px;
    height: 25px;
}
select.inpreg{
    width: 300px;
    height: 25px;
}
#btnsub{
    background-color: blue;
    color: white;
}
